:root{

    /* Primary */
    --col-purple-50: hsl(260, 100%, 95%);
    --col-purple-300: hsl(264, 82%, 80%);
    --col-purple-500: hsl(263, 55%, 52%);

    /* neutral */
   --col-white: hsl(0, 0%, 100%);
   --col-grey-100: hsl(214, 17%, 92%);
   --col-grey-200: hsl(0, 0%, 81%);
   --col-grey-400: hsl(224, 10%, 45%);
   --col-grey-500: hsl(217, 19%, 35%);
   --col-dark-blue: hsl(219, 29%, 14%);
   --col-black: hsl(0, 0%, 7%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 5rem;
    font-size: 13px;
    background-color: var(--col-white);
}
#testimonial-container{
    display: grid;
    grid-template-areas: 
    "testimonial-1 testimonial-1 testimonial-2 testimonial-5"
    "testimonial-3 testimonial-4 testimonial-4 testimonial-5"
    ;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 24px;
    max-width: 1100px;
    
}
.testimonial-title{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-self: self-start;
}
.testimonial-content{
    align-self: self-start;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0;
    width: 100%;
}
.testimonial-story{
    height: max-content;
    font-size: 0.8rem;
    line-height: 1.2;
}
.testimonial-title img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.testimonial-card{
    justify-self: start;
    /* border: 2px solid orange; */
    padding: 32px;
    display: grid;
    gap: 16px;
    border-radius: 10px;
    
}

.testimonial-title>span:first-child{
    font-weight: 500;
    font-size: 1rem;
}
.testimonial-1{
    grid-area: testimonial-1;
    background-color: var(--col-purple-500);
    color: var(--col-white);
}
.testimonial-1 .testimonial-story{
    color: var(--col-purple-50);
}
.testimonial-2{
    background: var(--col-grey-500);
    grid-area: testimonial-2;
    color: var(--col-white);
}
.testimonial-2 .testimonial-title {
    color: var(--col-grey-100);
}
.testimonial-2 .testimonial-story {
    color: var(--col-grey-100);
}
.testimonial-3{
    grid-area: testimonial-3;
    background-color: var(--col-grey-100);
    color: var(--col-grey-400);
}
.testimonial-3 .testimonial-content{
    color: var(--col-grey-500);
}
.testimonial-3 .testimonial-title{
    color: var(--col-grey-500);
}
.testimonial-4{
    grid-area: testimonial-4;
    background-color: var(--col-dark-blue);
    color: var(--col-white);
}
.testimonial-4 .testimonial-content{
    color: var(--col-grey-200);

}
.testimonial-4 .testimonial-story{
    color: var(--col-grey-100);
}
.testimonial-5{
    grid-area: testimonial-5;
    background-color: var(--col-grey-100);
}

@media screen and (max-width:48rem){
    #testimonial-container{
    display: grid;
    grid-template-areas: 
    "testimonial-1 testimonial-1"
    "testimonial-2 testimonial-3"
    "testimonial-4 testimonial-4"
    "testimonial-5 testimonial-5"
    ;
    gap: 24px;
}
.testimonial-card{
    border: 2px solid red;
    padding: 32px;
}
/* .testimonial-1{
    grid-area: testimonial-1;
}
.testimonial-2{
    grid-area: testimonial-2;
}
.testimonial-3{
    grid-area: testimonial-3;
    
}
.testimonial-4{
    grid-area: testimonial-4;
    
}
.testimonial-5{
    grid-area: testimonial-5;
    
} */
}

@media screen and (max-width:30rem){
    #testimonial-container{
    display: grid;
    grid-template-areas: 
    "testimonial-1"
    "testimonial-2"
    "testimonial-3"
    "testimonial-4"
    "testimonial-5"
    ;
    gap: 24px;
}
.testimonial-card{
    border: 2px solid darkblue;
    padding: 32px;
}
/* .testimonial-1{
    grid-area: testimonial-1;
}
.testimonial-2{
    grid-area: testimonial-2;
}
.testimonial-3{
    grid-area: testimonial-3;
    
}
.testimonial-4{
    grid-area: testimonial-4;
    
}
.testimonial-5{
    grid-area: testimonial-5;
    
} */
}